* {
    padding: 0;
	margin: 0;
    box-sizing: border-box;
}
body {
	background-image: url('./beautiful-architecture-building-exterior-city-kuala-lumpur-skyline.jpg');
	
	font-family: 'Anton', work_sans;
	color: black;
	font-size: 16px;
    width: 100%;
    height: 100%;
}
header {
    width: 100%;
    height: 100%;

}
.btn {
    display: inline-block; /* Строчно-блочный элемент */
    background: #8C959D; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
}
h1 { text-align: center }
h2 { text-align: center }
.menu {
    margin-top: 20px;
    text-align: center;
}
.countdown {
	display: flex;
	justify-content: center;
	align-items: center;
}

.time-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-family: sans-serif;
	padding: 0 30px;
	border-right: 1px solid #fff;
	user-select: none;
}

.time-section:last-child {
	border: none;
}

.count {
	font-size: 50px;
}

.units {
	font-size: 15px;
}
